*{
    margin: 0;
    padding: 0;
}
/* ---------header font--------- */
 @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&family=Open+Sans:wght@400;700&family=Poppins:wght@100&family=Work+Sans:wght@500&display=swap');
body{
    font-family: 'Work Sans', sans-serif;

}
  
nav{
    padding-top: 3.8125em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    padding: 4em 14em;
}

.nav-links , a{
    list-style: none;
    text-decoration: none;
    color: #727272;
    font-size: 18px;
    transition: 2s ease-in; 
}
.nav ,li:hover{
    border-bottom: 2px solid #FF900E;

}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.nav-title{
    font-size: 2.8125em;
    font-weight: 700;
    cursor: pointer;
}
/* -----------
header section
-------------*/
header{
    background-color: rgba(255, 144, 14, 10%);
    background-size: cover;
    background-position: center;
    
}
.head-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 7em;
}
.head-title{
    font-size: 4em;
    font-weight: 700;
}
.head-desc{
    padding-top: 2.0625em;
    opacity: .7;
    padding-bottom: 2em;
}
.btn-primary{
    height: 4em;
    width: 11.25em;
    font-size: 1.25em;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-weight: 700;
    cursor: pointer;
    transition: .6s ease-in-out;
}
/* ---------------------------------------------animated btn--------------------------- */
.btn-primary:hover{
    text-shadow: #FF900E;
    background-color: white;
    color: #FF900E;
    border: 1px solid #FF900E;
    
}

.head-banner{
    margin-top: 3.125em;
    margin-bottom: 2.9375em;
}
/* --------------
features section
---------------*/
.features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4.5625em;
    justify-content: center;
    align-items: center;
    margin: 0 10em;
    margin-top: 3.125em;
}
.feature-title{
    font-size: 2.8125em;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}
.yellow-word{
    color: #FF900E;
}
.gray-word{
    color: #727272;
    font-weight: 400;
}
.feature-desc{
    opacity: 0.7;
    margin-top: 1.5em;
}
.features-btn{
    margin-top: 2em;
}
/* -----------------------------------------
           10 years experience section
------------------------------------------------------------------------ */
.exp-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 8.125em;
    margin-left: 11em;
}


.exp-title{
    font-size: 2.8125em;
    font-weight: 600;
    padding-left: .3em;
    border-left: .1em solid #FF900E;
}
.exp-title-details{
    color: #727272;
    font-size: 18px;
    margin-left: 1em;
}
.exp-more-details{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1em;
    margin-top: 3em;
    margin-left: 1em;
}
.details-box{
    padding: 2em;
    margin-top: 1em;
}
.info-title{

    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 1em;
}
.exp-infos{
    
    color: #727272;
}
.btn-section{
    display: flex;
    justify-content: center;
    
}
.exp-btn{
    margin-top: -5em;
    font-size: 2em;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: .5em 1em ;
    font-size: 2em;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.6s ease-in-out;
}

.exp-btn:hover{
    background-color: white;
    color: #FF900E;
    transform: translateY(-30px);
}


/* -------------facts section------------ */

.some-facts{
    display: flex;
    justify-content: center;
    text-align: center;
    
    margin-top: 4em;
    
}
.facts-title{
    font-weight: 600;
    font-size: 2.8em;
}
.facts-desc{
    margin-top: .7em;
    font-size: 1em;
    color: #727272;
}

/* --------------------------
         achivementrs
---------------------------------------*/
.achivements{
    display: flex;
    justify-content: center;
    gap: 7.50em;
    text-align: center;
    margin-top: 9em;
    
}
.winnings{
    border: 1px solid #FF900E;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 3.75em;
    border-radius: 10px;
}
.achivements img{
    height: 3em;
    width: 3em;
    padding: 2em 6em;
    transition: 1s ease-out;
}
/* --------------------a little hover effect--------------- */
.ribon:hover{
    transform: translatey(-20px);
    
}
.score{
    font-size: 2.81em;
    font-weight: 600;
    color: #424242;
    margin-bottom: .3em;
}
.score-subject{
    font-size: 1.1em;
    color: #727272;
}
/* -----------------------------------
          sponsors section
---------------------------------*/

.our-sponsors{
    margin-top: 11.25em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.sponsors-title{
    font-weight: 600;
    font-size: 2.81em;
    margin-bottom: .5em;
}
.sponsors-desc{
    color: #727272;
}
.sponsors{
    margin-top: 3.15em;
    display: flex;
    justify-content: space-evenly;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* -------------footer----------------- */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-text{
    padding: 2em 7em;
    color: #424242;
    font-size: 1.25em;  
}
.footer-desc{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color: rgba(255, 144, 14, 10%);
    width: 75%;
}
form{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}
#email{
    height: 2em;
    width: 30em;
    border: 3px solid slateblue;
    padding: 1em;
    border-radius: 25em 0 0 25em;
}

.join-btn{
    height: 2.98em;
    width: 6.25em;
    font-size: 1.25em;
    background-color: slateblue;
    border: none;
    border-radius: 0 25em  25em 0;
    color: #ffff;
    font-weight: 700;
    cursor: pointer;
    transition: .6s ease-in-out;
}
.join-btn:hover{
   color: slateblue;
   background-color: white;
   text-shadow: 2px 2px 5px #FF900E;

}


/* ------------------------------
         responsive
-------------------------------- */

@media screen and (max-width:576px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /* ---------------header section-------------- */
   
     nav{
        display: flex;
        position: fixed;
        padding: 1em;
        justify-content: space-between;
        border: 1px solid #FF900E;
        width: 100%;
        color: #FF900E;
        border-radius: 0 0 25em 25em;
        
     }
     .nav-title{
        font-size: 20px;
        font-weight: 700;
     }
     nav a{ 
        top:1em;
        display: flex;
        padding: 5px;
        color: black;
        padding-right: 1.2em;
        
     }
    
    header{
        grid-template-columns: 1fr;
        
    }
    .head-banner{
        width: 100vw;
    }
    .features{
        grid-template-columns: repeat(1,1fr);
    }

    /* ----------------------exp section-------------- */

    .exp-section{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         margin-left: 1em;
         
    }
    .exp-title-details{
        font-size: 8px;
    }
    .exp-details{
        margin-left: .1em;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 1em;
    }
    .exp-more-details{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .btn-box{
        display: flex;
        justify-content: center;
    }

    /* -----------------------achievement section---------------- */

    .achivements{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em; 
    }

    .fact-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }
    /* -----------------spomsors section----------------- */

    .sponsors{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em;
        justify-content: center;
        margin-left: 5em;
    }
    .footer-desc{
        width: 100%;
    }
}

/* ------------------------tablet responsive------------------ */
@media screen and (min-width:577px) and (max-width:768px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
     /* ---------------header section-------------- */
   
     nav{
        display: flex;
        position: fixed;
        padding: 1em;
        justify-content: space-between;
        border: 1px solid #FF900E;
        width: 100%;
        color: #FF900E;
        border-radius: 0 25em 25em 25em;
        
     }
     .nav-title{
        font-size: 20px;
        font-weight: 700;
     }
     nav a{ 
        top:1em;
        display: flex;
        padding: 5px;
        color: black;
        padding-right: .8em;
        
     }
    
    header{
        grid-template-columns: 1fr;
        
    }
    .features{
        grid-template-columns: repeat(1,1fr);
    }

    /* ----------------------exp section-------------- */

    .exp-section{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         margin-left: 1em;
         
    }
    .exp-title-details{
        font-size: 8px;
    }
    .exp-details{
        margin-left: .1em;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 1em;
    }
    .exp-more-details{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .btn-box{
        display: flex;
        justify-content: center;
    }

    /* -----------------------achievement section---------------- */

    .achivements{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em; 
    }

    .fact-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }
    /* -----------------spomsors section----------------- */

    .sponsors{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em;
        justify-content: center;
        margin-left: 5em;
    }
    .footer-desc{
        width: 100%;
    }
}
